In [1]:
import pandas as pd
import numpy as np

In [2]:
#Data 
revenue = [14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50]
expenses = [12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96]

In [3]:
d = {"revenue": revenue, "expenses": expenses}
monthly_data = pd.DataFrame(d)

In [4]:
def financial_analysys(df):
    df["profit"] = df.revenue - df.expenses
    df['pat'] = round((df.profit*0.7),2)
    df['profit margin'] = (df.pat/df.revenue*100).round(0).astype(str) + "%"
    df['type_of_month'] = df.pat.apply(lambda x: "Good Month" if x > df.pat.mean() else "Bad Month" )
    print("The Best Month is {}".format(df.pat.max()))
    print("The Worst Month is {}".format(df.pat.min()))
    return (df)

In [5]:
financial_analysys(monthly_data)

The Best Month is 8140.68
The Worst Month is -2595.45

     revenue  expenses    profit      pat profit margin type_of_month
0   14574.49  12051.82   2522.67  1765.87         12.0%    Good Month
1    7606.46   5695.07   1911.39  1337.97         18.0%     Bad Month
2    8611.41  12319.20  -3707.79 -2595.45        -30.0%     Bad Month
3    9175.41  12089.72  -2914.31 -2040.02        -22.0%     Bad Month
4    8058.65   8658.57   -599.92  -419.94         -5.0%     Bad Month
5    8105.44    840.20   7265.24  5085.67         63.0%    Good Month
6   11496.28   3285.73   8210.55  5747.38         50.0%    Good Month
7    9766.09   5821.12   3944.97  2761.48         28.0%    Good Month
8   10305.32   6976.93   3328.39  2329.87         23.0%    Good Month
9   14379.96  16618.61  -2238.65 -1567.06        -11.0%     Bad Month
10  10713.97  10054.37    659.60   461.72          4.0%     Bad Month
11  15433.50   3803.96  11629.54  8140.68         53.0%    Good Month